<div class="container d-flex justify-content-center align-items-center w-75">
    <div class="row align-items-center card my-3 text-primary">

        <div class="card-header">
            <h7 class="text-primary">{{title}}</h7>
            <h5 class="card-subtitle text-muted">Posted by {{user.name}} on {{date}}</h5>
        </div>

        <div class="card-body">
            <p>{{content}}</p>
        </div>

        {{#if isOwner}}
        <button class="btn btn-sm btn-primary m-1" style="width: 15vw;" id="updateBtn" data-id="{{id}}">Update Post</button>
        <button class="btn btn-sm btn-danger m-1" style="width: 15vwL" id="deleteBtn" data-id"{{id}}">Delete Post</button>
    {{/if}}

    {{#unless isOwner}}
    <form class="new-comment-form">
        <div class="mb-3 form-group">
            <label for="commentInput" class="form-label">Add Comment</label>
            <input type="text" class="form-control text-primary" id="commentInput" placeholder="Place your comment here">
    <button type="submit" class="btn btn-sm btn-primary mt-3" style="width: 15vw:" id="commentBtn" data-id="{{id}}">Submit</button>

    </div>
    </form>

    {{/unless}}
    </div>

</div>

{{#if isOwner}}
<script src="../public/js/post.js"></script>
{{else}}
<script src="../public/js/nonOwnerPost.js"></script>
{{/if}}